body {
    background-color:#0088c3;
}
.nav-link {
    color:#fff;
}
.navbar {
    background-color:#0F1111;
}
#retreat {
    font-style:italic;
    font-size:larger;
}
.plan {
    background-color: #0088c3;
    color:#fff
}
hr {
    background-color:#0088c3;
}

#carouselExampleCaptions {
    height: 100%;
    width:100%;
    color:#0F1111;
}
.carasoul {
    width:100%;
    height:50%;
}
.host-highlight {
    background-color:#0088c3;
    text-align:center
}
.display-6 {
    color:#fff
}
.host {
    float:left;
    border-radius:50%;
}
.display-3 {
    color:#fff;
    text-align:center;
}
.carousel-slide {
    width:50%;
}
.why {
    width:25%;
    height: 25%;
    float:right;
}
.benefits {
    text-align:left;
    width:50%;
}
.feature {
    margin:auto;
    width:100%;
    height:75%;
    border-radius:15%;
}
#caption {
    background-color:#fff;
    border-radius:50%;
    color:#0F1111;
    font-size:3rem;
    opacity:50%;
}
